/* html {font-size: 62.5%;} */  /* = 10px */
.centerbox1200 {max-width: 1200px; margin: 0 auto; padding: 0 50px;}
.mo_gnb_box {display: none;}
.mo_gnb_box li {position: relative;}
.mo_gnb_box li .lnb {display: none; background: #000;}
.mo_gnb_box .mo_nav {overflow: auto;}
header .mo_gnb_box .mo_nav li .lnb a {color: #fff; padding: 20px; border-bottom: 0}

body {cursor: none;}
a:link {cursor: none;}
a:hover {cursor: pointer !important;}
/* a:hover {color: #8b4f00 !important;} */
/* a:visited {color: red;} */
/* a:active {color: blue;} */

header {position: absolute; width: 100%; z-index: 12; top: 0;}
header h1 {width: 100px; height: 70px; margin: 0 auto;}
header h1 img {height: 100%;}
header nav {display: flex; justify-content: space-between; align-items: center;}
header nav .gnb {display: flex;}
header nav .gnb li {font-size: 20px; position: relative;}
header nav .gnb li a {padding:10px 30px; display: block;  color: #fff;}
header nav .gnb > li > a:hover {color: #8b4f00 !important}

header nav .gnb li .lnb {position: absolute; background: rgba(0,0,0,0.9); width: 100%; height: 220px; padding: 20px 0; display: none;}
header nav .gnb li .lnb li {font-size: 18px;}
header nav .gnb li .lnb li:hover {background: #025ba3;}
header nav .gnb li .lnb li a {}



header .spotmenu {display: flex;}
header .spotmenu a {padding: 10px 20px; position: relative; color: #fff;}
header .spotmenu a:hover {color: #8b4f00 !important}
header .spotmenu a::before {content: ""; position: absolute; width: 1px; height: 12px; background: #888; left: 0; top: 55%; transform: translateY(-50%);}

header .spotmenu a:first-child::before {display: none;}


header .mo_nav .spotmenu {background: #8b4f00; justify-content: center;}
header .mo_nav .spotmenu a {width: 40%; text-align: center; color: #fff;}





.floating_menu {position: fixed; z-index: 10; top: 300px; right: 0px; display: flex; flex-direction: column; align-items: flex-end; width: 70px;transition: 0.7s;}


.floating_menu a {height: 50px; background: #fff; border-radius: 50px; margin-bottom: 20px; display: flex; justify-content: center;align-items: center; padding: 0 0px; width: 50px; box-shadow: 4px 4px 20px rgba(0,0,0,0.15); margin-right: 20px;transition: 0.7s; }
/* .floating_menu:hover a {margin-right: 20px;} */
/* .floating_menu a[href="#section2"] {background: #000;} */
.floating_menu a i {font-size: 30px; margin-right: 0px;transition: 0.7s;}
.floating_menu a span {max-width: 0; overflow: hidden; white-space: nowrap; transition: 0.7s;}

.floating_menu a:hover {padding: 0 10px; width: 150px;}
.floating_menu a:hover i {margin-right: 10px;}
.floating_menu a:hover span {max-width: 150px;}

.floating_menu a.on {padding: 0 10px; width: 150px;}
.floating_menu a.on i {margin-right: 10px; color: lightseagreen;}
.floating_menu a.on span {max-width: 150px; color: lightseagreen;}


/* body {cursor: none;} */
footer {min-height: 300px; background: #ddd;}

.mouse_circle {position: fixed; width: 20px; height: 20px; background: rgba(0,0,0,0.8); border: 2px solid #fff; border-radius: 50%; pointer-events: none; left: -1000px; top: -1000px; z-index: 77; mix-blend-mode: difference;}

.spotmenu a:hover {color: red;}


@media screen and (max-width: 1300px) {
    
    body {cursor: default;}
    a:link {cursor: default;}
    .mouse_circle {display: none;}

}